img{
  margin: 0 auto;
  padding-top: 200px;
  display: block;
  width: 50%;
  height: auto;
}

.label{
  color: white;
  font-weight: bold;
  font-size: 12
}

ion-item.item-has-focus > ion-label{
  color: rgb(253, 0, 0) !important;
  font-weight: 900;
  font-size: 26px
}

button{
  width: 90%;
  margin-left: 5%;
  z-index: 1;
}

ion-item {
  --background: transparent!important;
  --border-color:transparent!important;
}

ion-input{
  color:rgb(255, 255, 255);
  font-weight: bold;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.context {
  width: 100%;
  position: absolute;
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
  z-index: -100;
  background: rgb(2,0,36);
  background: linear-gradient(351deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  width: 100%;
  height:100vh;
}

.circles{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 100%;
  }

}

.error{
  text-align: center;
  color:rgb(253, 215, 0)
}

.icon{
  text-align: center;
}

.mensaje{
  font-weight: bold
}


.prueba{
  z-index: 2;
}

.my-custom-class{
  border: 1px solid green
}

////////////////////////////////////////////////////////////////
